<div class="row search-containter">

	<div class="col-lg-6">
		<h3>{{ settings.graphName }}</h3>
	</div>


	<div class="col-lg-6">

		<div class="form-inline pull-right">
			
			<select class="form-control" ng-options="item.value as item.label for item in monthFilter" ng-model="filter.month"></select>
			
			<select class="form-control" ng-options="item.value as item.value for item in yearFilter" ng-model="filter.year"></select>

			<select class="form-control" ng-options="item.value as item.label for item in amountFilter" ng-model="filter.amount"></select>
			


			<button class="btn-success btn" ng-click="loadEdges()">Posodobi</button>

		</div>

	</div>

</div>
