

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#graph-container {
	height: 600px;
	min-width: 100%;
    background: #fff;
    margin: 0 auto;
}
















