/* ==========================================================================
   Basic styling
   ========================================================================== */

html {
    height: 100%;
}

body {
    height: 100%;
    padding-top: 50px;
    padding-bottom: 20px;
    color: #333;
}

.font-size-11 {
    font-size: 11px;
}

.scrollable {
    overflow: auto;
    height: 400px;
}

[ng-click] {
    cursor: pointer;
}

/* ==========================================================================
   First page
   ========================================================================== */

.search {
    height: 45px;
    margin-top: 65px;
}

.col-center {
    text-align: center
}

.header {
    width: 100%;
    height: 250px;
    background-size: cover;
    margin-bottom: 50px;
}

.header img {
    width:100%;
}

.fa-big {
    font-size: 50px;
    color: #222;
}

.logo {
    color:#fff;
    font-weight:800;
    font-size:14pt;
    padding:25px;
    text-align:center;
}

.line {
    padding-top:20px;
    white-space: no-wrap;
    overflow:hidden;
    text-align:center;
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 40px;
    background-image: -webkit-linear-gradient(top,#3c3c3c 0,#222 100%);
    background-image: -o-linear-gradient(top,#3c3c3c 0,#222 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#3c3c3c),to(#222));
    background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
}

.footer-text {
    padding-top: 10px;
    color: #9d9d9d;
}

/* ==========================================================================
   Graph styling
   ========================================================================== */

.centered-text {
    text-align:center;
    color: rgba(116, 114, 114, 1);
}  
 
#graph-container {
    height: 750px;
    width: 100%;
    /**border-left: 2px solid;*/
}

#graph {
    height: 750px;
    width: 100%;
    /**border-left: 2px solid;*/
}

.list-group-item>.badge {
    float: none;
}

#loader {
  display: block;
  margin: 200px auto;
  z-index: 100;
}

#query-loader {
    height: 24px;
    width: 24px;
    margin-right: 10px;
}

.legend span {
    color: #333;
    font-size: 14px;
}

.legend li {
    font-size: 20px;
}

/* ==========================================================================
   Search bar
   ========================================================================== */

.search-containter {
   /** background-color: rgba(228, 228, 228, 0.59); */
}


/* ==========================================================================
   Padding
   ========================================================================== */

.paddingLeft25{
  padding-left: 25px;
}

/* ==========================================================================
   Height
   ========================================================================== */

.height45 {
  height: 45px;
}

/* ==========================================================================
   Spaces
   ========================================================================== */

.space5 {
    height: 5px;
    clear: both;
}
.space20 {
    height: 20px;
    clear: both;
}
.space30 {
    height: 30px;
    clear: both;
}
.space40 {
    height: 40px;
    clear: both;
}
.space50 {
    height: 50px;
    clear: both;
}
.space60 {
    height: 60px;
    clear: both;
}
.space80 {
    height: 80px;
    clear: both;
}
.space100 {
    height: 100px;
    clear: both;
}
