<div class="space50"></div>

<div class="header">

	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-6">
			<div id="search" class="input-group">
					<input type="text" class="form-control search" placeholder="Poišči ustanovo..." ng-model="search">
					<span class="input-group-btn">
						<button class="btn btn-default search" ng-click="redirect()" type="button">
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
						</button>
					</span>
			</div><!-- /input-group -->

		</div><!-- /.col-lg-6 -->
		<div class="col-sm-3"></div>
	</div>
	<div class="row" style="margin:0">
		<h1 class="centered-text">Grafični prikaz javnih transakcij</h1>
	</div>

</div>

<div class="row">
    <div class="col-lg-4 col-center">
		<span>
			<i class="fa fa-search fa-big"></i>
		</span>
		<h4>Enostavno in hitro iskanje</h4>
		<p></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 col-center">
		<span><i class="fa fa-money fa-big"></i></span>
		<h4>Javna osvetlitev toka denarja</h4>
		<p></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 col-center">
		<span><i class="fa fa-archive fa-big"></i></span>
		<h4>Kategorizacija</h4>
		<p></p>
    </div><!-- /.col-lg-4 -->
</div>