<div class="row">
	<div class="col-md-3">
        <div class="row">
            <div class="space20"></div>

            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default height45" ng-click="reset()" type="button">
                        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                    </button>
                </span>
                <input type="text" class="form-control height45" placeholder="Poišči ustanovo..." ng-model="nodeId">
                <span class="input-group-btn">
                    
                    <button class="btn btn-default height45" ng-click="findNode()" type="button">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                    
                </span>
            </div>
            <div class="space20"></div>
        
        </div>
        <div class="row" ng-show="activeNode">
            <a href="#" class="list-group-item active">
                {{ activeNode.label }} <span class="badge"> {{ neighbours.length }} </span>
            </a>
            <ul class="list-group scrollable">

                <li class="list-group-item font-size-11" ng-repeat="object in neighbours |  orderBy: 'edge.label'" ng-click="findNodeById(object.node.id)">
                    <span class="badge" style="background-color: {{object.color}}"> {{ object.edge.label|currency:"EUR: " }}</span>
                    {{ object.node.label|uppercase }}
                </li>
            </ul>
        </div>
        <legend-directive></legend-directive>
	</div>
	<div class="col-md-9">
        <graph-directive settings="settings" graph="graph" drawgraph="drawGraph" findnodebyid="findNodeById"
                         nodeid="nodeId" neighbours="neighbours" activenode="activeNode" forceatlas="forceAtlas"></graph-directive>
	</div>
</div>
