<div class="input-group autocomplete-containter">

    <span class="input-group-btn">
        <button class="btn btn-default height45" ng-click="reset()" type="button">
            <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
        </button>
    </span>

    <input type="text" class="form-control height45" placeholder="Poišči ustanovo..." ng-change="autocomplete()" ng-model="acSearch">

    <ul class="autocomplete" ng-show="acResult">
        <li ng-repeat="inst in acResponse" ng-click="findNode(inst.bu_code)">
            {{ inst.name }}
        </li>
    </ul>

    <span class="input-group-btn">
        <button class="btn btn-default height45" ng-click="findNode()" type="button">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
    </span>

</div>
