<div class="input-group autocomplete-containter">

    <span class="input-group-btn">
        <button class="btn btn-default height45" ng-click="reset()" type="button">
            <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
        </button>
    </span>

    <input type="text" ng-model="acSelected" placeholder="ključna beseda, matična, davčna, pu" typeahead="obj.name for obj in autocomplete($viewValue) | limitTo: 8"
           typeahead-on-select="onSelect($item)" typeahead-min-length="2"  typeahead-wait-ms="10" class="form-control height45">
    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>

    <span class="input-group-btn">
        <button class="btn btn-default height45" ng-click="findNode()" ng-disabled="peddingQuery" type="button">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
    </span>

</div>
